
{% extends "layout.html" %}

<div class="row">
    <div class="col-md-12">
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->

<!-- top tiles -->
<div class="row tile_count">
  <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top"><i class="fa fa-user"></i> 广州</span>
      <div class="count"><a href="{{ url_for('public.goods') }}">30</a></div>
      <span class="count_bottom"><i class="green">40% </i> 完成收货</span>
    </div>
  </div>
  <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top"><i class="fa fa-clock-o"></i> 老挝</span>
      <div class="count"><a href="{{ url_for('public.delivers') }}">20</a></div>
      <span class="count_bottom"><i class="green">30% </i> 完成送货</span>
    </div>
  </div>
  <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top"><i class="fa fa-user"></i> 在途</span>
      <div class="count green"><a href="{{ url_for('public.prices') }}">10</a></div>
      <span class="count_bottom"><i class="green"></i> 在途中...</span>
    </div>
  </div>
  <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top"><i class="fa fa-user"></i> 完成总量</span>
      <div class="count">80</div>
      <span class="count_bottom"><i class="red"></i> 2017年总量</span>
    </div>
  </div>
</div>
<!-- /top tiles -->
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Radar <small>Sessions</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <canvas id="canvasRadar"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>货柜分布... <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <canvas id="canvasDoughnut"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Pie Graph Chart <small>Sessions</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <canvas id="pieChart"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Pie Area Graph <small>Sessions</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <canvas id="polarArea"></canvas>
      </div>
    </div>
  </div>
</div>

{% endblock %}

</div>
</div>


{% block other_js %}

<script>

  Chart.defaults.global.legend = {
    enabled: false
  };


  // Doughnut chart
  var ctx = document.getElementById("canvasDoughnut");
  var data = {
    labels: [
      "广州",
      "老挝",
      "在途"
    ],
    datasets: [{
      data: [30, 20, 10],
      backgroundColor: [
        "#9B59B6",
        "#26B99A",
        "#3498DB"
      ],
      hoverBackgroundColor: [
        "#B370CF",
        "#36CAAB",
        "#49A9EA"
      ]

    }]
  };

  var canvasDoughnut = new Chart(ctx, {
    type: 'doughnut',
    tooltipFillColor: "rgba(51, 51, 51, 0.55)",
    data: data
  });

  // Radar chart
  var ctx = document.getElementById("canvasRadar");
  var data = {
    labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"],
    datasets: [{
      label: "My First dataset",
      backgroundColor: "rgba(3, 88, 106, 0.2)",
      borderColor: "rgba(3, 88, 106, 0.80)",
      pointBorderColor: "rgba(3, 88, 106, 0.80)",
      pointBackgroundColor: "rgba(3, 88, 106, 0.80)",
      pointHoverBackgroundColor: "#fff",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      data: [65, 59, 90, 81, 56, 55, 40]
    }, {
      label: "My Second dataset",
      backgroundColor: "rgba(38, 185, 154, 0.2)",
      borderColor: "rgba(38, 185, 154, 0.85)",
      pointColor: "rgba(38, 185, 154, 0.85)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(151,187,205,1)",
      data: [28, 48, 40, 19, 96, 27, 100]
    }]
  };

  var canvasRadar = new Chart(ctx, {
    type: 'radar',
    data: data,
  });

  // Pie chart
  var ctx = document.getElementById("pieChart");
  var data = {
    datasets: [{
      data: [120, 50, 140, 180, 100],
      backgroundColor: [
        "#455C73",
        "#9B59B6",
        "#BDC3C7",
        "#26B99A",
        "#3498DB"
      ],
      label: 'My dataset' // for legend
    }],
    labels: [
      "Dark Gray",
      "Purple",
      "Gray",
      "Green",
      "Blue"
    ]
  };

  var pieChart = new Chart(ctx, {
    data: data,
    type: 'pie',
    otpions: {
      legend: false
    }
  });

  // PolarArea chart
  var ctx = document.getElementById("polarArea");
  var data = {
    datasets: [{
      data: [120, 50, 140, 180, 100],
      backgroundColor: [
        "#455C73",
        "#9B59B6",
        "#BDC3C7",
        "#26B99A",
        "#3498DB"
      ],
      label: 'My dataset' // for legend
    }],
    labels: [
      "Dark Gray",
      "Purple",
      "Gray",
      "Green",
      "Blue"
    ]
  };

  var polarArea = new Chart(ctx, {
    data: data,
    type: 'polarArea',
    options: {
      scale: {
        ticks: {
          beginAtZero: true
        }
      }
    }
  });

</script>
{% endblock %}
